<%= form_for(Comment.new) do |f| %>
  <div class="field">
    <span>
    	<%= f.text_field :content, placeholder: "cmt..." %>
    	<%= f.hidden_field :entry_id, value: entry.id %> 
    	<%= f.hidden_field :user_id_cmt, value: current_user.id %>
	</span>
  </div>
  <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
<% end %>